recursive-include stoqserver *.py
recursive-include * *.po *.mo *.pot POTFILES.list
recursive-include bin/*
include data/udev/10-stoq.rules
include data/sudoers.d/stoqserver
include data/supervisor/stoqserver.conf
include data/scripts/duplicitybackup.py
include data/htsql/config.yml
include MANIFEST.in
include Makefile
include debian/changelog debian/compat debian/control
include debian/copyright debian/pydist-overrides debian/rules
include debian/stoq-server.dirs debian/stoq-server.postinst
include debian/stoq-server.prerm debian/stoq-server.postrm
include requirements.txt
