recursive-include stoqserver *.py
include data/sudoers.d/stoqserver
include data/supervisor/stoqserver.conf
include data/webrtc/package.json
include data/webrtc/*.js
include data/webrtc/start.sh
include MANIFEST.in
include Makefile
include debian/changelog debian/compat debian/control
include debian/copyright debian/pydist-overrides debian/rules
include debian/stoq-server.dirs debian/stoq-server.postinst
include debian/stoq-server.prerm debian/stoq-server.postrm
include requirements.txt
