Source: stoq-server
Section: python
Priority: optional
Maintainer: Stoq Team <stoq-devel@async.com.br>
Build-Depends: debhelper (>= 8.0.0), python3-all (>= 3.4),
 python3-setuptools, python3-mock
Homepage: http://www.stoq.com.br/
Vcs-Git: https://github.com/stoq/stoq-server.git
Vcs-Browser: https://github.com/stoq/stoq-server/
Standards-Version: 3.9.5
X-Python3-Version: >= 3.4

Package: stoq-server
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 stoq (>= 5.0~rc1), python3-stoqdrivers (>= 1.7.0), binutils, supervisor, duplicity, adduser, git, openvpn, postgresql, postgresql-contrib,
 python3-requests (>= 2.2), python3-netifaces, python3-flask, python3-flask-restful, python-htsql, python-htsql-pgsql, python-requests,
 python3-raven, tmate, python3-gevent, python3-psutil (>= 3.4.2), python3-tzlocal (>= 1.2), python3-psycogreen
Recommends: python3-pygments
Suggests: python3-avahi
Homepage: http://www.stoq.com.br/
Description: A server for Stoq.
