#!/usr/bin/make -f

# For reference, see:
#   https://wiki.debian.org/Python/Packaging
#   https://wiki.debian.org/Python/LibraryStyleGuide

# Pybuild run the test suit when building the package, but we don't need that
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	sed -i 's|VIRTUAL_ENV=.*$\|VIRTUAL_ENV="/usr/lib/stoq-virtualenv"|' env/bin/activate
	sed -i 's|#!/.*$\|#!/usr/lib/stoq-virtualenv/bin/python|' env/bin/*
	mv ./env/ $(CURDIR)/debian/stoq-server/usr/lib/stoq-virtualenv
